---
import Heading from "./heading.astro";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html>
  <head>
    <title>{title ? `${title} | ` : ""}Wing Cloud</title>

    <link rel="icon" href="../../assets/favicon.svg" type="image/svg+xml" />
  </head>

  <body class="container mx-auto p-6">
    {title && <Heading title={title} />}

    <slot />
  </body>
</html>
