---
import { unmarshall } from "@aws-sdk/util-dynamodb";
import { Code } from "astro:components";
import { dynamodb, TableName } from "virtual:@wingcloud/astro/dynamodb";

import Layout from "../components/layout.astro";

const { Items } = await dynamodb.scan({
  TableName,
});
---

<Layout title="Dashboard">
  <ul>
    <li>
      <a href="/new" class="font-medium text-blue-500 underline">New Project</a>
    </li>
    <li>
      <a class="font-medium text-blue-500 underline" href="/sign-out">
        Sign Out
      </a>
    </li>
  </ul>

  {
    Items && (
      <Code
        code={JSON.stringify(
          Items.map((item) => unmarshall(item)),
          undefined,
          2,
        )}
        lang="json"
        wrap
      />
    )
  }
</Layout>
