---
import { ScanCommand } from "@aws-sdk/client-dynamodb";
import { Code } from "astro:components";

const username = Astro.url.searchParams.get("username");

const user = {
  name: username,
};

import {
  client,
  TableName,
} from "virtual:@wingcloud/astro-dynamodb-integration";
import Layout from "../components/Layout.astro";

const { Items } = await client.send(
  new ScanCommand({
    TableName,
  }),
);
---

<Layout title="Dashboard">
  <a href="/" class="font-medium text-blue-500 underline">Back to index</a>

  <!-- <code class="whitespace-pre-wrap font-mono text-xs">
      {JSON.stringify(Items, undefined, 2)}
    </code> -->
  <Code code={JSON.stringify(Items, undefined, 2)} lang="json" wrap />
</Layout>
