---
import Layout from "../components/Layout.astro";

const GITHUB_APP_CLIENT_ID = import.meta.env.GITHUB_APP_CLIENT_ID;
---

<Layout title="Wing Cloud">
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-4"
  >
    <a
      href=`https://github.com/login/oauth/authorize?client_id=${GITHUB_APP_CLIENT_ID}`
      >Login with GitHub</a
    >
  </button>
  <ul>
    <li>
      <a href="/dashboard" class="font-medium text-blue-500 underline"
        >Go to Dashboard</a
      >
    </li>
    <li>
      <a href="/other" class="font-medium text-blue-500 underline"
        >Go to Other</a
      >
    </li>
  </ul>
</Layout>
