---
import Layout from "../components/Layout.astro";

console.log(Astro.locals.auth?.accessToken);

// const response = await fetch("https://api.github.com/app/installations", {
//   headers: {
//     Authorization: `Bearer ${Astro.locals.auth?.accessToken}`,
//     Accept: "application/vnd.github+json",
//     "X-GitHub-Api-Version": "2022-11-28",
//   },
// });
// curl -L \
//   -H "Accept: application/vnd.github+json" \
//   -H "Authorization: Bearer <YOUR-TOKEN>" \
//   -H "X-GitHub-Api-Version: 2022-11-28" \
//   https://api.github.com/orgs/ORG/repos
const response = await fetch(
  "https://api.github.com/installation/repositories",
  {
    headers: {
      Accept: "application/vnd.github+json",
      Authorization: `Bearer ${Astro.locals.auth?.accessToken}`,
      "X-GitHub-Api-Version": "2022-11-28",
    },
  },
);
console.log(await response.json());

const installURL = `https://github.com/apps/${
  import.meta.env.GITHUB_APP_NAME
}/installations/select_target`;
---

<Layout title="Dashboard">
  <a href="/" class="font-medium text-blue-500 underline">Back to index</a>

  <div>
    <span>Missing Git repository?</span>{" "}
    <a href={installURL} class="font-medium text-blue-500 underline"
      >Adjust GitHub App Permissions →</a
    >
  </div>
</Layout>
